
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 1.5em;
    background-repeat: no-repeat;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

footer {
    display: flex;
    gap: 70px;
    width: 100vw;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    padding: 15px 10vw;
}

.main {
    box-sizing: border-box;
    text-align: center;
    padding: 60px 20px;
    background-color: #f0f0f0;
}


.nav-menu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
}

/* Добавляем флексбокс для шапки */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
} 

.nav-menu {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    gap: 25px;
    list-style: none;
}


/* Карточки с Flexbox */

.features h2 {
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
}

.features-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    max-width: 90%;
    margin-top: 40px;
    margin-left: 7%;
}

.feature-card {
    flex: 1 0 300px; 
    min-width: 250px;
    max-width: 350px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(82, 81, 81, 0.842);
    transition: transform 0.2s;
    animation: change_color 3s infinite;
} 

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: aqua;
    margin: 20px;
    border-radius: 30px;
    padding: 3.5vh;
    text-align: center;
    width: 20vw;  
    display: inline-block;
    animation: pulse 2s infinite;
    transition: all 0.5s;
}

.gallery {
    padding: 5vw;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.videos {
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* Анимации */

.button:hover {
    background-color: rgb(7, 133, 133);
    background: linear-gradient(aqua, rgb(5, 5, 92));
    font-size: 2em;
    color: white;
}

.feature-card:hover {
    transform: scale(1.2) translateY(-10px);
    color: red;
    box-shadow: 0 20px 60px #cececef6;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes change_color {
    0% { background-color: #f0f0f0; }
    50% { background-color: gray; }
    100% { background-color: #f0f0f0; }
}


@media (max-width: 1024px){
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .features-container {
        gap: 15px;
    }

    .feature-card {
        flex: 1 0 calc(50%-15px);
        max-width: calc(50%-15px);

    }
}

@media (max-width: 425px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .header .container {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav-menu li {
        width: 100%;
    }

    .nav-menu a {
        display: block;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .gallery img {
        width: 100%;
    }

    .feature-card {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .main, .gallery, .features {
        padding: 40px 15px;
    }
}







